@font-face {
    font-family: "Roc Grotesk Wide Bold";
    src: url(../../src/fonts/Roc-Grotesk-Wide-Bold.otf);
    font-style: normal;
}
@font-face {
    font-family: "Roc Grotesk Bold";
    src: url(../../src/fonts/Roc-Grotesk-Bold.otf);
    font-style: normal;
}
@font-face {
    font-family: "Roc Grotesk Medium";
    src: url(../../src/fonts/Roc-Grotesk-Medium.otf);
    font-style: normal;
}
@font-face {
    font-family: "Roc Grotesk Light";
    src: url(../../src/fonts/Roc-Grotesk-Light.otf);
    font-style: normal;
}
@font-face {
    font-family: "Roc Grotesk Wide Light";
    src: url(../../src/fonts/Roc-Grotesk-Wide-Light.otf);
    font-style: normal;
}
