:root {
    // Fonts used
    --font-wBold: "Roc Grotesk Wide Bold";
    --font-bold: "Roc Grotesk Bold";
    --font-medium: "Roc Grotesk Medium";
    --font-regular: "Roc Grotesk Regular";
    --font-wLight: "Roc Grotesk Wide Light";
    --font-light: "Roc Grotesk Light";

    //background
    --color-bg: #403748;
    --color-submit: #ab72ff;
    --color-input: #756b7d;


    //Colors
    --color-purpleDark: #b76afd;
    --color-grayLight: #fcfbf3;
    --color-white: #ffffff;


    --color-content-1: #FFFFFF;
    --color-content-2: #F3F3F3;
    --color-content-3: #F9F9F9;
    --color-content-4: #FFF000;
    --color-content-5: #000FFF;


}
body {
    height: 100vh;
    background-color: var(--color-bg);
}

.container {
    max-width: 90rem;
    height: 100%;
    margin: auto;

    --row1: 8;
    --row2: 40;
    --row3: 11;
    --row4: 6;
    --row5: 14;
    --row6: 8;
    --row7: 5;

    @media (min-width: 768px) {
        --row1: 8;
        --row2: 48;
        --row3: 16;
        --row4: 6;
        --row5: 9;
        --row6: 8;
        --row7: 5;
    }

    
    .contents {

        p {
            text-align: center;
        }

        &.content-1 {
            height: calc((100%/100)*var(--row1));

            display: flex;
            justify-content: end;
            
            .xxv {
                width: auto;
                margin-right: 1rem;
                height: 80%;
                @media (min-width: 768px) {
                    height: 100%;
                }
            }
        }
        &.content-2 {
            height: calc((100%/100)*var(--row2));
            
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            

            .logoAB {
                width: auto;
                max-width: 74%;
                height: 19%;
                transition: 1s ease;
                transform: rotateX(90deg);                    

                @media (min-width: 359px) and (max-width: 389px){
                    width: 15.6rem;
                }
                
                &.active {
                    transition: 1s ease;
                    transform: rotateX(0deg);                    
                }
            }
            
            .contentAB {
                
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                .contentAnimated {

                    position: absolute;
                    width: auto;
                    height: 80%;

                    display: flex;
                    align-items: center;
                    
                    @media (min-width: 359px) and (max-width: 389px){
                        width: 15.6rem;
                        height: auto;
                    }
                    
                    .logoCenter {
                        width: 100%;
                        height: 100%;

                        transition: 1s ease;
                        transform: rotateX(90deg);                    
                        
                        &.active {
                            transition: 1s ease;
                            transform: rotateX(0deg);                    
                        }
                    }

                    .arrows {
                        position: absolute;
        
                        &.arrowt {
                            top: 24.5%;
                            left: 41.3%;
                            width: 21.5%;
                            opacity: 0;
                            transform: scale(0.25) rotate(10deg);
                            
                            transition: 1s ease;
        
                            &.active {
                                top: -9.5%;
                                left: 60%;
                                width: 19.5%;
                                opacity: 1;
                                transform: scale(1) rotate(0deg);
                                transition: .8s ease;
                                
                                @media (min-width: 768px) {
                                    top: -10.5%;
                                    left: 57.9%;
                                    width: 21.5%;
                                }
                            }
        
                        }
                        &.arrowb {
                            bottom: 26.5%;
                            right: 42%;
                            width: 21.5%;
                            opacity: 0;
                            transform: scale(0.3) rotate(10deg);
                            transition: 1s ease;
        
                            &.active {
                                bottom: -10.1%;
                                right: 57.2%;
                                width: 23.2%;
                                opacity: 1;
                                transform: scale(1);
                                transition: .8s ease;
                                
                                @media (min-width: 768px) {
                                    bottom: -14.4%;
                                    right: 57.2%;
                                    width: 25%;
                                }
                            }
                        }
                    }
                }

            }
        }
        &.content-3 {
            height: calc((100%/100)*var(--row3));
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                color: var(--color-grayLight);
                font-family: var( --font-wBold);                
                font-size: calc(1rem + (1.9 - 0.7) * (100vw - 20rem) / (48 - 20));
                letter-spacing: 4px;

                @media (min-width: 769px) and (max-height: 900px){
                    font-size: 2.25rem;
                }

                @media (min-width: 769px) and (min-height: 901px){
                    font-size: 3.45rem;
                }
                
               
                span {
                    font-family: var( --font-wLight);
                }
            }
        }
        &.content-4 {
            height: calc((100%/100)*var(--row4));

            display: flex;
            align-items: flex-end;
            justify-content: center;
        
            p {
                font-size: calc(.5rem + (0.9 - 0.6) * (100vw - 20rem) / (48 - 20));
                color: var(--color-grayLight);
                line-height: 1.2;
                letter-spacing: 1px;
                
                @media (min-width: 769px) and (max-height: 900px){
                    font-size: 1rem;
                }

                @media (min-width: 769px) and (min-height: 901px){
                    font-size: 1.55rem;
                }
        
                &.medium {
                    font-family: var(--font-regular);

                }
            }
        }        
        &.content-5 {
            height: calc((100%/100)*var(--row5));

            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: calc(.5rem + (0.9 - 0.6) * (100vw - 20rem) / (48 - 20));
                color: var(--color-grayLight);
                line-height: 1.2;
                letter-spacing: 1px;
                
                @media (min-width: 769px) and (max-height: 900px){
                    font-size: 1rem;
                }
                @media (min-width: 769px) and (min-height: 901px){
                    font-size: 1.55rem;
                }
                &.medium {
                    font-family: var(--font-regular);

                }
            }

            .sucess {
                padding: 2rem 0;
                opacity: 0;
                height: 0;
                transform: translateX(-100%);
                transition: .5s ease;
                
                &.active {
                    height: inherit;
                    opacity: 1;
                    transform: translateX(0);
                    transition: transform .5s ease, opacity .5s ease;
                }
        
            }

        }
        &.content-6 {
            height: calc((100%/100)*var(--row6));

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media (min-width: 768px) {
                gap: .25rem;
            }

            p {
                font-size: calc(.5rem + (0.9 - 0.6) * (100vw - 20rem) / (48 - 20));
                color: var(--color-grayLight);
                line-height: 1.2;
                letter-spacing: 1px;
                
                @media (min-width: 769px) and (max-height: 900px){
                    font-size: 1rem;
                }
                @media (min-width: 769px) and (min-height: 901px){
                    font-size: 1.55rem;
                }
                &.medium {
                    font-family: var(--font-medium);
                }
            }
        }
        &.content-7 {
            height: calc((100%/100)*var(--row7));
            
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: calc(.5rem + (0.9 - 0.6) * (100vw - 20rem) / (48 - 20));
                color: var(--color-grayLight);
                line-height: 1.2;
                letter-spacing: 1px;
                
                @media (min-width: 769px) and (max-height: 900px){
                    font-size: 1rem;
                }
                @media (min-width: 769px) and (min-height: 901px){
                    font-size: 1.55rem;
                }
                &.light {
                    font-family: var(--font-medium);
                }
            }
        }

        .contactLink {
            text-decoration: none;
            color: var(--color-purpleDark);
            font-family: var(--font-bold);
            
            &.address {
                font-family: var(--font-light);
                color: var(--color-grayLight)
            }
        }
    }

}



.box-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    #formMail {
        width: 90%;
        transform: translateX(0);

        @media (min-width: 769px) and (max-height: 900px){
            width: 100%;
        }
        @media (min-width: 769px) and (min-height: 901px){
            width: 90%;
        }

        &.send {
            transform: translateX(100%);
            opacity: 0;
            transition: all .3s ease-in;

            &.finish {
                display: none;
            }
        }
        .form-control {
            display: flex;
            align-items: center;
            gap: .2rem;
        
        
            @media (min-width: 768px) {
                flex-direction: row;
                gap: 0rem;
            }

            input {
                width: 100%;
        
                font-size: calc(.8rem + (1.6 - .834) * (100vw - 20rem) / (64 - 20));
                
                height: calc(2rem + (5 - 2) * (100vw - 20rem) / (64 - 20));

                background-color: #756b7d;
                text-align: center;
                color: var(--color-grayLight);
                
                @media (min-width: 769px) and (max-height: 900px){
                    width: 50%;
                    height: 2.6rem;
                    font-size: 1rem;
                }
                @media (min-width: 769px) and (min-height: 901px){
                    height: 3.9rem;
                    font-size: 1.55rem;
                }

                &+ input {
                    margin-right: .25rem;
                    margin-left: .25rem;

                    @media (min-width: 769px) and (max-height: 900px){
                        margin-right: .3rem;
                        margin-left: .3rem;
                    }
                }

                &::placeholder {
                    color: var(--color-grayLight);
                    opacity: .5;
                }
            }
        }
    }


    button[type=submit] {
        width: 25%;
        height: calc(2rem + (5 - 2) * (100vw - 20rem) / (64 - 20));
        outline: none;
        border: none;
        background-color: var(--color-submit);
        background-size: 50%;

        @media (min-width: 769px) and (max-height: 900px){
            width: 3rem;
            height: 2.6rem;
        }
        @media (min-width: 769px) and (min-height: 901px){
            width: 10rem;
            height: 3.9rem;
        }
        cursor: pointer;

        img {
            width: 90%;
            margin-left: 25%;
            transform: translateX(0rem);
            transition: all .3s ease-in-out;
        }

        &:hover {
            img {
                transform: translateX(1rem);
                transition: all .3s ease-in-out;
                @media (min-width: 768px) {
                    transform: translateX(2rem);
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    
    .sucess {
        display: none;
        opacity: 0;
        transform: translateX(-200%);
        transition: .5s ease;
        
        &.active {
            display: block;
            height: inherit;
            opacity: 1;
            transform: translateX(0);
            transition: transform .5s ease, opacity .5s ease;
        }
    
    }
}

